/* @font-face {
    font-family: "zorqueimport";
    src:url("/fonts/zorque/zorque.ttf");
} */

body {
    background: rgb(135, 206, 235);
    margin: 0px;
}

/* HEADER */
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255,83,73);
    font-family: 'zorque';
    color: orange;
    padding-left: 20px;
    padding-right: 75px;
}

header .new {
    color: orange;
    text-decoration: none;
    font-size: 14px;
}

.gamename {
    font-size: 32px;
}

.time {
    font-size: 14px;
}

/* WELCOME SCREEN */
.welcome-scr {
    display: flex;
    flex-direction: column;
    font-family: 'zorque';
    position: relative;
    width: 500px;
    height: 250px;
    align-items: center;
    border: solid;
    border-color:  rgb(255,83,73);
    margin: 50px auto; 
}

.welcome-btn {
    background-color: green;
    font-family: 'zorque';
}

.welcome-title {
}

/* ANIMAL SCREEN */