a {
    color: black;
    text-decoration: none;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255,83,73);
}