/* @font-face {
    font-family: "zorqueimport";
    src:url("/fonts/zorque/zorque.ttf");
} */

body {
    background: rgb(135, 206, 235);
    margin: 0px;
}

/* ---------- HEADER */
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255,83,73);
    font-family: 'zorque';
    color: orange;
    padding-left: 20px;
    padding-right: 75px;
}

header .new {
    color: orange;
    text-decoration: none;
    font-size: 14px;
}

.gamename {
    font-size: 32px;
}

.time {
    font-size: 14px;
}

/* ---------- WELCOME SCREEN */
/* Screen */
.welcome-scr {
    display: flex;
    flex-direction: column;
    font-family: 'zorque';
    position: relative;
    width: 350px;
    height: 300px;
    align-items: center;
    border: solid;
    border-color:  rgb(255,83,73);
    margin: 50px auto; 
}

/* Screen Title */
.welcome-title {
    text-decoration: underline rgb(255,83,73);
}

/* Welcome Button */
#welcome-btn {
    background-color: green;
    font-family: 'zorque';
    border-color:  rgb(255,83,73);
    position: relative;
    top: 80px;
    padding: 10px 20px;
    margin: 0px;
}

/* ---------- ANIMAL SCREEN */
/* Screen */
.animal {
    display: none;
    /* background-color: black; */
    /* color: orange; */
}

.animal-scr {
    display: flex;
    flex-direction: column;
    font-family: 'zorque';
    position: relative;
    width: 350px;
    height: 300px;
    align-items: center;
    border: solid;
    border-color:  rgb(255,83,73);
    margin: 50px auto; 
}

/* Screen Title */
.animal-title {
    text-decoration: underline rgb(255,83,73);
}

/* Name Input */
.name-input {
    margin: 20px;
}

/* Animal Dropdown */
.dropdown-content {
    /* position: relative;
    display: inline-block; */
    margin: 20px;
}

select:hover {
    background-color: green;
    border-color:  rgb(255,83,73);
}

/* Finish Button */
#next-btn {
    background-color: green;
    font-family: 'zorque';
    border-color:  rgb(255,83,73);
    position: relative;
    bottom: -20px;
    padding: 10px 20px;
    margin: 0px;
}

/* ---------- GAMEPLAY SCREEN */
/* Screen */
.gameplay {
    display: none;
    font-family: 'zorque';
    flex-direction: column;
    position: relative;
    width: 350px;
    height: 300px;
    /* align-items: center; */
    border: solid;
    border-color:  rgb(255,83,73);
    margin: 50px auto; 
}

/* Gameplay Header */
.animal-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Image */
.animal-img {
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#move {
    /* animation-direction: alternate; */
    animation-name: leftRight;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes leftRight {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 75%;
    }
}

/* Gameplay Buttons */
.gameplayBtns {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.gameBtn {
    background-color: green;
    font-family: 'zorque';
    border-color:  rgb(255,83,73);
}

.instructions {
    width: 450px;
    text-align: left;
}